@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/NotoSansSC/NotoSansSC.ttf') format('truetype');
  font-display: swap;
}

* {
  font-family: 'Outfit', 'Noto Sans SC', sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
